<!--<div class="sidebar">
    <ul>
        <li><a href="#!/my-account">My Account</a></li>
        <li><a href="#!/">Installations</a></li>
        {{#each }}
            <li>
                <a href="#!/installations/{{id}}">
                    <i class="glyphicons glyphicons-cardio"></i>
                    {{name}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>-->

<div class="content">
    <div class="header">
        <div class="mobile-only">
            <h2>
                {{#with current/installation}}
                    <a>
                        {{domain}}
                    </a>
                {{else}}
                    <a>
                        {{#if current/title}}
                            {{current/title}}
                        {{else}}
                            FastWordPress
                        {{/if}}
                    </a>
                {{/with}}

                <a href="#!/" class="float-right">
                    <i class="glyphicons glyphicons-show-big-thumbnails"></i>
                </a>
            </h2>
        </div>

        <div class="desktop-only">
            {{#if user}}
                <h2>
                    <a href="#!/">
                        <i class="glyphicons glyphicons-show-big-thumbnails"></i>
                    </a>
                </h2>
            {{/if}}

            {{#with current/installation}}
                <h1>
                    {{domain}}
                </h1>

                <ul class="installation-menu menu">
                    <li><a href="#!/installations/{{id}}">Status</a></li>
                    <li><a href="#!/installations/{{id}}/backups">Backups</a></li>
                    <!-- <li><a href="#!/installations/{{id}}/clone">Clone</a></li> -->
                    <li><a href="#!/installations/{{id}}/ssl">SSL</a></li>
                    <li><a href="#!/installations/{{id}}/destroy">Destroy</a></li>
                </ul>
            {{else}}
                <h1>
                    {{#if current/title}}
                        {{current/title}}
                    {{else}}
                        FastWordPress
                    {{/if}}
                </h1>
            {{/with}}

            {{#if user}}
                <ul class="accounts-menu menu">
                    <li><a href="#!/">Installations</a></li>
                    <li><a href="#!/my-account">My Account</a></li>
                    <!-- <li><a href="#!/sign-out">Sign Out</a></li> -->
                </ul>
            {{/if}}
        </div>
    </div>

    <div class="loading">
        <i class="glyphicons spin glyphicons-brightness-increase"></i>
    </div>

    <div class="main" data-main></div>
</div>
