<div class="content">
    <div class="header">
        <div class="mobile-only">
            <h2>
                {{#with current/site}}
                    <a>
                        {{domain}}
                    </a>
                {{else}}
                    <a>
                        {{#if current/title}}
                            {{current/title}}
                        {{else}}
                            FastWordPress
                        {{/if}}
                    </a>
                {{/with}}

                <a href="#!/" class="float-right">
                    <i class="glyphicons glyphicons-show-big-thumbnails"></i>
                </a>
            </h2>
        </div>

        <div class="desktop-only">
            {{#if user}}
                <h2>
                    <a href="#!/">
                        <i class="glyphicons glyphicons-show-big-thumbnails"></i>
                    </a>
                </h2>
            {{/if}}

            {{#with current/site}}
                <h1>
                    {{domain}}
                </h1>

                <ul class="site-menu menu">
                    <li><a href="#!/sites/{{id}}/edit">Edit</a></li>
                    <li><a href="#!/sites/{{id}}">Status</a></li>
                    <li><a href="#!/sites/{{id}}/backups">Backups</a></li>
                    <li><a href="#!/sites/{{id}}/clone">Clone</a></li>
                    <!-- <li><a href="#!/sites/{{id}}/ssl">SSL</a></li> -->
                    <li><a href="#!/sites/{{id}}/destroy">Destroy</a></li>
                </ul>
            {{else}}
                <h1>
                    {{#if current/title}}
                        {{current/title}}
                    {{else}}
                        FastWordPress
                    {{/if}}
                </h1>
            {{/with}}

            {{#if user}}
                <ul class="accounts-menu menu">
                    <li>
                        <a href="#!/sites/new">
                            <i class="glyphicons glyphicons-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#!/">Sites</a>
                    </li>
                    <li>
                        <a href="#!/my-account">My Account</a>
                    </li>
                    <!-- <li><a href="#!/sign-out">Sign Out</a></li> -->
                </ul>
            {{/if}}
        </div>
    </div>

    <div class="loading">
        <i class="glyphicons spin glyphicons-brightness-increase"></i>
    </div>

    <div class="main" data-main></div>
</div>
