<!--<div class="sidebar">
    <ul>
        <li><a href="#!/my-account">My Account</a></li>
        <li><a href="#!/">Installations</a></li>
        {{#each }}
            <li>
                <a href="#!/installations/{{id}}">
                    <i class="glyphicons glyphicons-cardio"></i>
                    {{name}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>-->

<div class="content">
    <div class="header">
        <h2>
            <a href="#!/">
                <i class="glyphicons glyphicons-show-big-thumbnails"></i>
            </a>
        </h2>

        {{#if current/installation}}
            <h1>
                {{current/installation/domain}}
            </h1>

            <ul class="installation-menu menu">
                <li><a href="#!/installations/{{current/installation/id}}">Status</a></li>
                <li><a href="#!/installations/{{current/installation/id}}/backups">Backups</a></li>
                <li><a href="#!/installations/{{current/installation/id}}/history">History</a></li>
                <li><a href="#!/installations/{{current/installation/id}}/clone">Clone</a></li>
                <!-- <li><a href="#!/installations/{{current/installation/id}}/ssl">SSL</a></li> -->
                <li><a href="#!/installations/{{current/installation/id}}/destroy">Destroy</a></li>
            </ul>
        {{else}}
            <h1>
                {{#if current/title}}
                    {{current/title}}
                {{else}}
                    FastWordPress
                {{/if}}
            </h1>
        {{/if}}

        {{#if user}}
            <ul class="accounts-menu menu">
                <li><a href="#!/">Installations</a></li>
                <li><a href="#!/my-account">My Account</a></li>
                <!-- <li><a href="#!/sign-out">Sign Out</a></li> -->
            </ul>
        {{/if}}
    </div>

    <div class="main" data-main></div>
</div>
